APP_NAME=CUP_FICCT
APP_ENV=production
APP_KEY=base64:GENERAR_CON_PHP_ARTISAN_KEY_GENERATE_SHOW
APP_DEBUG=false
APP_URL=https://TU-BACKEND.up.railway.app

APP_LOCALE=es
APP_TIMEZONE=America/La_Paz
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=TU_HOST_POSTGRES_RAILWAY
DB_PORT=5432
DB_DATABASE=TU_DATABASE_RAILWAY
DB_USERNAME=TU_USERNAME_RAILWAY
DB_PASSWORD=TU_PASSWORD_RAILWAY
DB_CHARSET=utf8
DB_SSLMODE=require

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
CACHE_STORE=file

MAIL_MAILER=log
MAIL_FROM_ADDRESS=no-reply@cup-ficct.local
MAIL_FROM_NAME="${APP_NAME}"

FRONTEND_URL=https://TU-FRONTEND.vercel.app
CORS_ALLOWED_ORIGINS=https://TU-FRONTEND.vercel.app
SANCTUM_STATEFUL_DOMAINS=TU-FRONTEND.vercel.app

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_CURRENCY=BOB
STRIPE_SUCCESS_URL=https://TU-FRONTEND.vercel.app/pagos/exito
STRIPE_CANCEL_URL=https://TU-FRONTEND.vercel.app/pagos/cancelado

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=cup-ficct/postulantes/titulos-bachiller
CLOUDINARY_TEACHERS_CV_FOLDER=cup-ficct/docentes/cv

FIREBASE_PROJECT_ID=

ADMIN_INITIAL_CI=0000001
ADMIN_INITIAL_NAMES=Administrador
ADMIN_INITIAL_LASTNAME=Inicial
ADMIN_INITIAL_SECOND_LASTNAME=
ADMIN_INITIAL_EMAIL=admin@cupficct.local
ADMIN_INITIAL_PHONE=
ADMIN_INITIAL_CITY="Santa Cruz"
ADMIN_INITIAL_USERNAME=admin
ADMIN_INITIAL_PASSWORD=CAMBIAR_EN_RAILWAY
